*,
*:before,
*:after{
  box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;

}

/*  */

body{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;

  background-color: lightgoldenrodyellow;
  color: lightcoral;
}

/*  */

#container{
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
}

.square{
  display: flex;
  flex: 1 1 auto;
  border: solid 1px whitesmoke;
}

/*  */

.hero-container{
  display: flex;
  justify-content: center;
}