*,
*:before,
*:after{
  box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;
}

/*  */

#container{
  display: flex;
  flex-flow: row wrap;
  width: 500px;
}

.square{
  display: flex;
  flex: 1 1 auto;
  border: solid 1px gray;
}