*,
*:before,
*:after{
  box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0px;
}

/*  */

#container{
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;

  width: 500px;
  height: 500px;
  border: 1px solid black;
}